---
import Meta from '../components/Meta.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">

<Meta title={title} />

<body>
    <div class="container">
        <div class="centered">
            <slot />
        </div>
    </div>
</body>

</html>

<style>
    body,
    .container {
        height: 100%;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>